body, html {
    margin: 0;
}

#root {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.app {
    width: 100%;
    margin: 0 auto;
}

.scene {
    &-container {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin: 10% 0;
    }

    &-inner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: visible;
        font-size: 28px;
    }
}

.symbol {
    width: 12.5%;
    padding-bottom: 12.5%;
    position: absolute;
    transition: 150ms;
    left: 0;
    top: 0;
    border-radius: 8px;

    &-inner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 2px solid #444;
        transition: 0.3s;
        overflow: hidden;
        user-select: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.queue-container {
    border-radius: 8px;
    width: 100%;
    padding-bottom: 15%;
    border: 2px solid gray;
    margin-bottom: 16px;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 10%);
    top: 0;
    left: 0;

    > button {
        margin-top: 16px;
    }

    &.rank-list {
        background-color: rgb(0 0 0 / 90%);
        color: white;
    }
}

.rank-list-table {
    width: 600px;
    color: white;
    .rank-list-row {
        display: flex;
        flex-direction: row;
        font-size: 22px;
        &:nth-child(2) {
            font-size: 20px;
        }
        &:nth-child(3) {
            font-size: 18px;
        }
        &:nth-child(n + 4) {
            font-size: 16px;
        }
        .rank-list-col {
            margin: 8px;
            &:nth-child(1) {
                flex: 0 0 auto;
                text-align: left;
                min-width: 24px;
            }
            &:nth-child(2) {
                flex: 1 1 auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
            }
            &:nth-child(3) {
                flex: 0 0 auto;
                text-align: center;
                min-width: 60px;
            }
            &:nth-child(4) {
                flex: 0 0 auto;
                text-align: right;
                min-width: 80px;
            }
        }
    }
}


.bgm-button {
    position: fixed;
    left: 0;
    top: 0;
    padding: 4px;
    width: 36px;
    height: 36px;
    border-radius: 0;
}

.player-name {
    position: fixed;
    right: 0;
    top: 0;
    padding: 4px;
    height: 24px;
    line-height: 24px;
    border: 2px solid #9f9f9f;
}

h2 {
    margin-top: 50px;
}

.zhenghuo-button {
    width: 100%;
    margin-top: 8px;
}

.game-status-box {
    border: 2px solid #9f9f9f;
    padding: 8px;
}

.game-status-tag {
    &:not(:first-child) {
        margin-left: 16px;
    }

    span {
        display: inline-block;
        border-radius: 4px;
        background-color: #6f6f6f;
        padding: 0 8px;
        margin: 0 4px;
    }
}

@media (prefers-color-scheme: light) {
    .game-status-tag {
        span {
            background-color: #efefef;
            color: white;
        }
    }
}

@media screen and (max-width: 600px) {
    .rank-list-table {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .game-status-box {
        font-size: 14px;
        flex-wrap: nowrap;
        padding: 8px 4px;
    }

    .game-status-tag {
        &:not(:first-child) {
            margin-left: 4px;
        }
    }

    span {
        padding: 0 4px;
        margin: 0 2px;
    }
}

